<h1>Profil de {{ currentUser.username }}</h1>
<div>
    API Endpoint http://127.0.0.1:8000/user/{{currentUser.id}}/show
</div>
<div>
    <a [routerLink]="['/edit/profil', currentUser.id]">Modifier mon profil</a>
</div>

<table class="table table-bordered table-striped">

    <thead>
    <tr>
        <td>
            Nom
        </td>
        <td>
            Age
        </td>
        <td>
            Nourriture
        </td>
        <td>
            Couleur
        </td>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>{{ currentUser.username }}</td>
        <td>{{ currentUser.age }} ans</td>
        <td>{{ currentUser.nourriture }}</td>
        <td>{{ currentUser.couleur }}</td>
    </tr>
    </tbody>

</table>
<div>
    <p><a [routerLink]="['/home']">Home</a></p>
    <p><a [routerLink]="['/login']">Déconnexion</a></p>
</div>