<h1>Bonjour,{{currentUser.username}}Recherchez des amis</h1>
<div>
    API Endpoint http://127.0.0.1:8000/user/
</div>
<form class="form-group" id="filter">
    <label>Recherchez un utilisateur :</label>
    <input type="text" [(ngModel)]="item" placeholder="Patoche" name="nom" class="form-control"/>
</form>



<table class="table table-bordered table-striped" *ngIf="users | async as users; else loading;">

    <thead>
    <tr>
        <td>
            Id
        </td>
        <td>
            Nom
        </td>
        <td>
            Age
        </td>
        <td>
            Nourriture
        </td>
        <td>
            Couleur
        </td>
        <td>
            Amis
        </td>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let user of users | filter:item">
        <td><a [routerLink]="['/profil/', user.id]">{{ user.id }}</a></td>
        <td>{{ user.username }}</td>
        <td>{{ user.age }} ans</td>
        <td>{{ user.nourriture }}</td>
        <td>{{ user.couleur }}</td>
        <td><a [routerLink]="['/login']">Ajouter à mes amis</a></td>
    </tr>
    </tbody>

</table>
<div>
    <p><a [routerLink]="['/login']" class="btn">Déconnexion</a></p>
    <p><a [routerLink]="['/profil/']" class="btn">Mon profil</a></p>
</div>
<ng-template #loading>
    <div>
        Chargement...
    </div>
</ng-template>